/* general */
html{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(243, 248, 252);
}

h1{
    text-align: center;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input, button, select {
    margin-bottom: 0.3rem;
    padding: 0;
    border: none;
    background-color: rgb(255, 255, 243);
    color: black;
    outline: none;
    box-sizing: border-box;
    align-items: center;
}

button {
    border: 1px solid black;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
}

button:hover{
    cursor:crosshair;
    background-color: black;
    color:whitesmoke;
}


/* input & add button*/
#add-meal-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* remove button*/
.remove-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* text-align: center; */
}


#add-meal-form input,
#add-meal-form select {
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

/* tag(healthy etc.) dropdown*/
.tag{
 display: inline-block;
 padding: 0.5rem 1rem;
 border-radius: 1rem;
 margin-top: 0.5rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 0.8rem;
}
.tag-healthy{
    background-color: greenyellow;
    color: green;
}
.tag-dessert{
    background-color: burlywood;
    color: brown;
}
.tag-quick{
    background-color: azure;
    color: blue;
}


/* view list/grid toggle*/
#view-toggle-container{
    display: flex;
    gap: 0.5rem;
}
.toggle-btn{
    width:50%
}
.toggle-btn.active {
    background-color: black;
    color: rgb(243, 248, 252);
    font-weight: bold;
}

/*grid*/
#meal-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 0.5rem;
}
ul{
    padding: 0;
}

/* meal-card*/
.meal-card{
    position: relative;
    overflow: hidden;
    padding: 1rem;
    background-color:rgb(255, 255, 243);
    border: 1px solid black;
    border-radius: 1rem;
    list-style-type: none;
}
.meal-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}
.meal-card h3{
    margin: 0.5rem;
}


/* Pinboard meal grid */
/* list view */
#meal-container.list-view{
    display: block;
    padding-left: 0;
}
#meal-container.list-view .meal-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}
#meal-container.list-view img{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}
#meal-container.list-view .meal-content{
    flex-grow: 1;

}
#meal-container.list-view .remove-btn{
    position: static;
    margin-left: 1rem;
}


/*responsive for desktop */
 @media (min-width: 768px) {
    #add-meal-form {
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: end;
    }
    #meal-container{
    grid-template-columns:repeat(3, 1fr);
}
  }
